$fgYellow: #b1cb0f;
$fgBlue: #2aafd9;
$fontGray: #95959c;
$fontDarkGray: #303a3f;
$mailcolor:#91c434;

textarea:focus, input:focus{
    outline: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;

    width: 100%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
}



.pageWrapper{
    
}
.firstBackScreen {
    height: 100vh;
    width: 100vw;
    
    position: relative;
}

.pageBack{
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 75vw;
    
}

.aboutBack{
    background: url(../img/contentBG.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.savedBack{
    background: url(../img/savedBG.jpg) no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.firstScreenPreview {
    
    background: url(../img/firstBG.jpg) no-repeat top right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(60%);
    
}
#menuButton{
    margin-top: 20px;
    position: absolute;
    color:white;
    z-index: 6;
    margin-left: 10%;
}
#menuButtonInMenu{
    position: absolute;
    top: 0;
    right: 0;
    color:black;
    z-index: 11;
}
.logo {
    position: absolute;
    z-index: 6;
    opacity: 0.99999;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 7.5%;
    width: 150px;
    height: auto;
}
.savedLogo {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 7.5%;
    width: 150px;
    height: auto;
}

.menuOver {
    position: fixed;
    width: 25vw;
    background-color: rgba(255, 255, 255, 1);
    
    height: 100vh;
    z-index: 7;
    top: 0;
    min-width: 400px;
    padding: 20px 40px;
    transition: left 0.5s ease-in-out;
    
    a {
        color: black;
    }
    li {
        margin-bottom: 5px;
    }
    .centerLinksOver {
        a{
        font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #303a3f;
    
    }
    li{
        margin-bottom: 10px;
    }
    }
    .bottomContacts a{
        font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #303a3f;
    }
    .fixedToRel{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

}

.firtJumboText{
    position: absolute;
margin: 0 210px 140px 40px; 
bottom: 0;
left: 0;
color: white;
 
}

.pageContent{
   min-height: 100vh;
    width: 75vw; 
    position: relative;
    float: right;
    top: 0;
    right: 0;
    z-index: 5;
   
    
    
}
.darkerDiv{
    opacity: 1;
    color: white;
    min-height: 100vh;
    padding: 90px 10% 20px 10%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    h2{
        color: white;
        border-top: 2px solid white;
        display: inline-block;
    }
    h3{
        color: white;
    }
}
.vkladTable{
        width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    td{
            padding: 5px;
    }
    tr{
        border-bottom: 1px solid white;
    }
    td:first-child{
        text-align:left;
    }
}
.aboutDocuments img{
    margin-top: 50px;
}
.getConsult{
        margin-top: 30px;
    padding: 10px 20px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
}
.getConsult:hover{
    background-color: white;
    color: black;
}
.simpleCalculatorNumber{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}
.simpleCaclSelect{
        
        background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}
.inputBold{
    font-weight: 600;

}
.menuOpened{
    left:0 !important;
    transition: left 0.5s ease-out;
}
.savedIcon{
    width: 100%;
}
.savedElement{
    padding-top: 50px;
     display: flex; 
     align-items: center;
}
.imageSaved{
    width: 25%;
}