@mixin background($style, $path) {
   background: url($path) no-repeat center center fixed; 
   -webkit-background-size: $style;
  -moz-background-size: $style;
  -o-background-size: $style;
  background-size: $style;
}
