@charset "UTF-8";
/*colors*/
/*colors*/
/*media*/
/*media*/
html {
  font-size: 14px; }

body {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-size: 14px;
  color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #1e1e1e;
  /*background: url(/assets/img/22.jpg) repeat center center;*/
  line-height: 1.5;
  background-size: 100% auto; }

::selection {
  background: #C6EBAC;
  /* WebKit/Blink Browsers */ }

a {
  color: inherit; }

a.noUnderline {
  text-decoration: none; }

p {
  margin: 0;
  max-width: 60rem;
  font-size: 1rem; }

h1 {
  font-size: 5rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 2rem;
  font-family: 'Roboto Condensed', serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', serif;
  font-weight: 900;
  margin: 0;
  padding: 0; }

h5 {
  font-family: 'Montserrat', serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8; }

.form-title {
  font-family: 'Roboto Condensed', serif;
  font-weight: 900;
  color: #626165; }

.ghostTextAnimated_span, .ghostTextAnimated_span2 {
  font-size: 10rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  opacity: 0.05;
  line-height: 1.3;
  letter-spacing: 2rem; }

button:active {
  transform: scale(0.9); }

.container-lessfluid {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto; }

.section {
  text-align: center;
  overflow: hidden;
  position: relative; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  background-attachment: fixed;
  z-index: 3; }

#section0 {
  background: url(/assets/img/aboutCont.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.bgPreloaderImg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  background-attachment: fixed;
  z-index: 3; }

/*.statInfo0, .statInfo1, .statInfo2{
    opacity: 0;
}*/
.preloadImg {
  position: absolute; }

.layer__textBlock {
  top: 10rem;
  width: 40%;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.layer__first .layer__textBlock,
.layer__third .layer__textBlock {
  left: 7%; }

.layer__second .layer__textBlock {
  right: 7%; }

.numbersWrap {
  color: white; }
  .numbersWrap .firstStatInfo,
  .numbersWrap .secondStatInfo {
    text-align: left;
    position: relative; }
    .numbersWrap .firstStatInfo h1,
    .numbersWrap .secondStatInfo h1 {
      /*font-weight: 2em;*/
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 58%, 0 58%);
      clip-path: polygon(0 0, 100% 0, 100% 57%, 0 57%);
      position: relative; }
    .numbersWrap .firstStatInfo .fourDig,
    .numbersWrap .secondStatInfo .fourDig {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 58%, 0 58%);
      clip-path: polygon(0 0, 100% 0, 100% 57%, 0 57%); }
    .numbersWrap .firstStatInfo .threeDig,
    .numbersWrap .secondStatInfo .threeDig {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 58%, 0 58%);
      clip-path: polygon(0 0, 100% 0, 100% 57%, 0 57%); }
  .numbersWrap p {
    margin-top: -3rem; }

.section .layer {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .section .layer .layer__textWrap {
    position: relative;
    color: white;
    text-align: left; }
    .section .layer .layer__textWrap p {
      padding-top: 1rem;
      font-size: 1.2em;
      text-decoration: none; }

.layer__textWrap:after {
  display: none;
  content: "";
  position: absolute;
  top: 10%;
  height: 100%;
  opacity: 0;
  width: 0px;
  left: 10%;
  z-index: -1;
  transform: skew(30deg);
  background-color: red;
  transition: 1s; }

.layer__second .layer__textWrap:after {
  transition: 1s;
  content: "";
  position: absolute;
  top: 10%;
  height: 100%;
  opacity: 0;
  width: 0px;
  right: 10%;
  z-index: -1;
  transform: skew(-30deg);
  background-color: red; }

.fp-completely .layer__textWrap:after {
  opacity: 1;
  width: 110px;
  transition: 1s; }

.layer__textWrap_first:after {
  background: linear-gradient(#78B64B, #78B64B); }

.header {
  position: absolute;
  z-index: 999;
  width: 100%;
  color: white;
  top: 0; }

.pageHeader {
  position: absolute; }

.header__logo {
  margin: 0 5vw;
  height: auto;
  width: 14rem; }

.ghostTextAnimated {
  position: absolute;
  top: 7rem;
  right: 0; }

.testomForm {
  padding-top: 2rem; }

.aboutService {
  background: url(/assets/img/splashBG.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative; }
  .aboutService:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 2;
    transition: width 0.5s; }

.aboutServiceActive:after {
  width: 0%;
  transition: width 0.5s; }

.aboutService__first {
  overflow: hidden; }

.firstServiceImg {
  position: absolute;
  height: 80%;
  top: 10%;
  right: 0;
  transform: translateX(50%);
  transition: 0.3s; }

.about_column3_services {
  position: relative; }

.secondServiceImg {
  position: absolute;
  height: 40rem;
  top: 20%;
  transform: translateX(-50%);
  transition: 0.3s; }

.thirdServiceImg {
  position: absolute;
  height: 20rem;
  top: 0;
  left: 0;
  transform: translate(-77%, -53%);
  transition: 0.3s; }

.aboutService__first {
  height: 24rem;
  width: 100%;
  background-color: #1e1e1e;
  position: relative;
  color: white; }
  .aboutService__first:hover img {
    transform: translate(30%);
    transition: 0.3s; }

.aboutServiceFirst {
  color: white; }
  .aboutServiceFirst:hover img {
    transform: translate(-40%, -5%); }

.aboutServiceSecond {
  color: white; }
  .aboutServiceSecond:hover img {
    transform: translate(-70%, -50%); }

.aboutContact {
  background-color: #fff;
  color: black; }

.aboutSection_white {
  background-color: #f1f1f1;
  color: #1e1e1e;
  /*     background: url(/assets/img/whiteBG.jpg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.aboutSection_dark {
  background-color: #1e1e1e;
  color: #f1f1f1; }
  .aboutSection_dark .question__body, .aboutSection_dark .question {
    background-color: #282626; }

.mobileHeader {
  position: absolute;
  padding: 4rem;
  display: none;
  z-index: 99;
  width: 100vw;
  justify-content: space-between; }
  .mobileHeader img {
    height: 4rem; }

.about_column3 {
  margin-left: 2rem;
  width: 20rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.about_column3_service {
  height: 11rem;
  width: 100%;
  background-color: #1e1e1e;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: flex-end; }
  .about_column3_service h3 {
    position: static;
    z-index: 1; }

.column3 {
  position: relative;
  padding-top: 2rem;
  height: 100%; }

.caclWrap {
  display: flex;
  align-items: stretch; }

.calculatorResult {
  background-color: #1e1e1e;
  background: url(/assets/img/splashBG.jpg) no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 2rem;
  min-width: 20rem;
  color: #f1f1f1;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.calculator i {
  color: #78B64B;
  margin-right: 0.5rem; }

#slider1-value {
  margin-top: 0.8rem; }

.header__menu {
  position: absolute;
  right: 0;
  width: 100vw;
  overflow: hidden; }

.header__links {
  border-top: 1px solid white;
  width: 100vw; }

.header__languageSelector {
  margin-right: 2rem;
  text-decoration: none; }
  .header__languageSelector a {
    margin-right: 0.4rem;
    transition: 0.3s;
    text-decoration: none; }
  .header__languageSelector a:hover {
    transition: 0.3s;
    text-decoration: underline; }
  .header__languageSelector a.selectedText {
    text-decoration: none; }

.selected.menuLink:after {
  display: none; }

.menuLink {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
  z-index: 9999;
  transition: height 0.3s; }

.menuLink::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  top: 0;
  right: 0;
  background: linear-gradient(#78B64B, #78B64B);
  z-index: 99;
  transition: height 0.3s; }

.menuLink:hover::after {
  height: 100%;
  transition: height 0.3s; }

.selected.menuLink {
  background-color: #fff;
  color: #333;
  padding: 15px 0;
  z-index: 999;
  position: relative; }

.menuLink__div {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 9999;
  display: inline-block;
  padding: 0 30px; }

.header__topMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 50px 15px; }
  .header__topMenu h3 {
    margin-right: 10px;
    font-weight: 400; }
  .header__topMenu h3:last-of-type {
    margin-right: 20px; }
  .header__topMenu h3:last-of-type {
    margin-right: 20px; }

.mobileMenu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  opacity: 0; }

.mobileMenu_active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s; }

.mobileMenuLink {
  margin-bottom: 2rem;
  text-decoration: none;
  position: relative; }
  .mobileMenuLink.selected:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.5rem;
    bottom: 5px;
    transform: skewX(-30deg);
    background: linear-gradient(#78B64B, #78B64B);
    z-index: -1; }

.DN {
  display: none; }

.grayScale {
  filter: grayscale(100%);
  transition: filter 0.3s; }

.unskewed {
  transform: skewX(30deg); }

.header__botMenu {
  transform: skewX(-30deg);
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  position: relative; }

.section {
  overflow: hidden; }

.col1warp {
  position: sticky;
  top: 10px; }

.about_column1 {
  position: relative; }

button,
.leaveReply {
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  transition: 0.3s; }

.aboutSection {
  display: flex;
  padding: 8rem 4rem;
  position: relative; }

.about_column1 {
  width: calc(14rem + 5vw);
  text-align: right;
  padding-right: 2rem;
  flex-shrink: 0; }

.divider {
  font-weight: 700;
  color: #78B64B;
  font-size: 1.5rem; }

.moreIndexButton {
  margin-top: 1.5rem; }

.numbersAbout {
  margin-top: 2rem; }
  .numbersAbout p {
    font-size: 0.8rem;
    color: #6a6d6b; }

.about_column2 {
  width: 41rem; }

.about_column2Wide {
  width: 100%; }
  .about_column2Wide .row {
    align-items: baseline; }

.about_column2__withText {
  padding-top: 2rem; }

.aboutFirstP {
  margin-top: 2rem;
  line-height: 1.6; }

.leaveReply__opacity {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.3s; }

.leaveReply_service {
  color: #1e1e1e;
  border-color: #1e1e1e; }

.leaveReply__border {
  background: transparent;
  border: 1px solid white;
  color: white;
  transition: 0.3s; }

button:hover {
  border-color: #78B64B;
  cursor: pointer;
  transition: 0.3s; }

.phoneBig {
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.phoneBig:hover {
  transition: 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.header__phone {
  margin-left: 20px; }

video::-webkit-media-controls {
  display: none !important; }

.precipped {
  background-color: #eee;
  display: inline-block;
  padding: 30px;
  mask-image: url(../img/logo.svg);
  position: fixed;
  bottom: 0;
  right: 0; }

.layer__firstWrap {
  overflow: hidden; }

#section2 {
  -webkit-box-shadow: 0px 3px 74px -9px black;
  -moz-box-shadow: 0px 3px 74px -9px black;
  box-shadow: 0px 3px 74px -9px black; }

.section {
  filter: brightness(0.3);
  transition: filter 0.7s; }

.section.active {
  filter: brightness(1);
  transition: filter 0.7s; }

.img-fluid {
  width: 100%;
  height: auto; }

.footer {
  background-color: #1e1e1e;
  color: white;
  text-align: left;
  padding: 3rem 0;
  position: relative;
  z-index: 2; }
  .footer hr {
    margin-bottom: 2rem; }

.footer__h4 {
  margin-top: -0.1rem;
  opacity: 1; }

.footer__companyName {
  color: #626165;
  font-size: 0.9rem; }

.footer__links {
  display: flex;
  justify-content: space-around; }
  .footer__links a {
    text-decoration: none; }

.footer__h4ghost {
  font-size: 0.8rem;
  line-height: 0.7;
  opacity: 0.6;
  color: #78B64B; }

.footer__link {
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2; }

.footer__link:hover {
  text-decoration: underline;
  color: #78B64B; }

.footer__linksWrap {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0; }

hr {
  height: 1px;
  opacity: 0.1; }

.pageDescription {
  background-color: #f1f1f1; }

.pageJumbo {
  background: linear-gradient(to bottom, #1c1b1d 0%, #151726 100%);
  background: url(/assets/img/lightBG.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden; }

.pageJumbo__ghost {
  position: absolute;
  width: 100rem;
  right: -20%;
  bottom: -40%;
  z-index: 1;
  mix-blend-mode: overlay; }

.contentPaddings {
  padding: 5rem 0; }

.pageContent__containerPaddings {
  padding: 3rem 0; }

.contenеIntro {
  margin-bottom: 0.8rem; }

.service {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #1e1e1e; }
  .service h3 {
    color: #1e1e1e; }

.scrollElementWrap {
  position: absolute;
  top: 10vh;
  width: 90%;
  bottom: 400px;
  transition: 1s; }
  .scrollElementWrap .active2,
  .scrollElementWrap .active4,
  .scrollElementWrap .active6 {
    right: 70%;
    transition: 1s; }
    .scrollElementWrap .active2 .scrollElement,
    .scrollElementWrap .active4 .scrollElement,
    .scrollElementWrap .active6 .scrollElement {
      transform: skew(30deg);
      transition: 1s; }

.scrollElementAbsolutePos {
  right: -2%;
  width: 20vw;
  height: 25vw;
  position: absolute;
  transition: 1s; }

.scrollElement {
  width: 100%;
  height: 100%;
  position: relative;
  transform: skew(-30deg) rotate(0deg);
  overflow: hidden;
  transition: 1s; }

.unskewedImage_inactive {
  position: absolute;
  height: 80%;
  top: 10%;
  left: -100%;
  z-index: 4;
  transition: 1s;
  opacity: 0; }

.scrollElement .active1,
.scrollElement .active3,
.scrollElement .active5,
.scrollElement .active7 {
  left: -20%;
  transform: skew(30deg) rotate(10deg);
  transition: 1s;
  opacity: 1; }

.scrollElement .active2,
.scrollElement .active4,
.scrollElement .active6 {
  left: -20%;
  transform: skew(-30deg);
  transition: 1s;
  opacity: 1; }

.pageContent__section {
  position: relative;
  overflow: hidden; }

.jumboContent {
  padding-top: 5rem;
  padding-bottom: 7rem; }

.scrollElement:after {
  top: 0;
  left: 0;
  content: "";
  width: 45%;
  height: 100%;
  position: absolute;
  background: linear-gradient(#78B64B, #78B64B); }

.service__block_1 {
  width: 70rem;
  max-width: 80%;
  margin: 15vh 0;
  opacity: 0.2;
  transition: 1s; }

.activeNum {
  width: 100%;
  right: -10%; }

.activeNumEmp {
  width: 100%;
  height: 30%; }

.service__block_1_right {
  align-self: flex-end; }

.service .active7,
.service .active3,
.service .active4,
.service .active5,
.service .active6,
.service .active2,
.service .active1 {
  opacity: 1;
  transition: 1s; }

.service__desc {
  color: #1e1e1e;
  font-size: 1.1rem;
  position: relative; }

.service__block {
  padding-right: 3rem; }
  .service__block hr {
    margin: 2rem 0; }

.service__row {
  padding-bottom: 2rem;
  position: relative;
  display: flex; }

.service__blockWrap {
  padding-bottom: 2rem;
  height: 100%; }

.service__blockWrap__bordered {
  border-bottom: 1px solid #78B64B; }

.service__block {
  margin-bottom: 2rem;
  flex: 0 1 30rem; }

.service__text {
  display: flex;
  flex-flow: wrap;
  flex: 1 1 60%;
  padding: 0 3%;
  justify-content: space-between; }

.service__image {
  display: flex;
  flex: 1 2 30%;
  padding: 0 3%; }

.service__banner {
  position: relative;
  height: 100%;
  width: 100%; }

.calc_img {
  position: absolute;
  bottom: 0;
  right: 0; }

.bigDigits {
  position: relative;
  white-space: nowrap;
  display: flex;
  left: 35%; }

.bigDigits__ghost_law {
  background: url(/assets/img/lightBG.jpg) no-repeat center center fixed; }

.bigDigits__ghost_emp {
  background: url(/assets/img/lightBG.jpg) no-repeat center center fixed; }

.bigDigits__ghost_acc {
  background: url(/assets/img/lightBG.jpg) no-repeat center center fixed; }

.bigDigits__ghost {
  font-size: 25rem;
  position: relative;
  top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #C6EBAC;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.aboutFirstAnimation {
  display: block; }

.bigDigits__desc {
  text-align: center;
  z-index: 5;
  color: #f1f1f1;
  left: 35%; }

.aboutJumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  /*background: $bgGrad;*/
  background-color: #1e1e1e;
  background: url(/assets/img/aboutBG3.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

.aboutJumbo__logo {
  width: 50rem;
  max-width: 90%;
  display: none; }

/*.aboutJumbo__logo{
   -webkit-mask: url(/assets/img/logoSimpleWhite.svg) no-repeat center center;
    mask: url(/assets/img/logoSimpleWhite.svg) no-repeat center center;
    
}*/
.aboutJumbo__textWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 15rem 0; }

.whyUs__h1 {
  color: #78B64B;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
  .whyUs__h1 .odometer {
    margin-right: 0.1rem; }

.whyUs__p {
  color: #C6EBAC;
  font-size: 1.1rem;
  padding-right: 3rem; }

.whyUs {
  margin-top: 5rem; }

.aboutAdvn {
  background: linear-gradient(to bottom, #1c1b1d 0%, #151726 100%);
  background: url(/assets/img/aboutBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

.whyUs__p_black {
  color: #a6a5a9; }

.videoDiv__wrap {
  height: 30rem;
  position: relative; }

.videoDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.videoPadWrap {
  height: 100%;
  width: 100%;
  position: absolute; }

#vid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: hidden; }

.videoDiv__femida {
  position: absolute;
  z-index: 4;
  height: 90%;
  bottom: 0;
  right: -7rem;
  transition: 1s; }

.videoDiv__hoverOver {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #78B64B;
  opacity: 0;
  transition: 1s; }

.videoDiv__wrap:hover .videoDiv__femida {
  height: 90%;
  bottom: 0;
  right: -8rem;
  transition: 1s; }

.videoDiv__wrap:hover .videoDiv__hoverOver {
  opacity: 1;
  mix-blend-mode: screen;
  transition: 1s; }

.videoDiv__textWrap {
  position: absolute;
  bottom: 2.5rem;
  left: 2rem;
  z-index: 1;
  padding-right: 1.5rem; }
  .videoDiv__textWrap p {
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 70%; }

inpit, .input, .inputTextarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #282828;
  color: #555;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
  width: 100%; }

.contactForm {
  margin-top: 2rem; }

.input:focus {
  outline: none; }

.inputWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.inputTextarea::-webkit-input-placeholder {
  color: #AAA; }

.inputWrap i {
  margin-right: 0.5rem;
  color: #AAA; }

.contactForm input, .contactForm textarea, .contactForm button {
  margin-top: 2rem; }

input::-webkit-input-placeholder {
  color: #AAA; }

input:focus::-webkit-input-placeholder {
  color: #78B64B; }

.input:focus + .underline {
  transform: scale(1); }

.contactCard__submit:disabled {
  opacity: 0.3;
  color: gray; }

.contactCard__submit:disabled:hover {
  transform: none;
  border: none;
  color: gray;
  cursor: auto; }

.underline {
  background-color: #78B64B;
  display: inline-block;
  height: 2px;
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%; }

.contactForm p,
.testomForm p {
  margin: 0.5rem 0;
  font-weight: 300;
  color: #222; }

.contactForm #question,
.testomForm #question {
  height: 20rem; }

.contactForm button,
.testomForm button {
  padding: 1rem 2rem; }

.form-title {
  margin-top: 1.6rem; }

.aboutContact h3 {
  margin-bottom: 0.3rem; }

.aboutContact p {
  font-size: 1.2rem; }

.aboutContact .contactsAddres p {
  margin-bottom: 2rem; }

input[type=radio] {
  display: none;
  margin: 10px; }

input[type=checkbox] {
  display: none;
  margin: 10px; }

.calculator {
  background-color: #fff;
  padding: 2rem 2rem; }

.calc__Checkboxes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between; }

.calcCheckBox {
  flex-shrink: 1;
  flex-grow: 1;
  margin: 0.3rem; }

.calcSum__cont {
  display: flex;
  align-items: center; }

.calcSum__wrap {
  white-space: nowrap; }

.percent_inc {
  margin-top: 0.5rem;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 10px;
  color: white; }

.button-plus,
.button-minus {
  border: none;
  display: block;
  width: 100%;
  background-color: transparent;
  font-size: 1.3rem;
  color: #1e1e1e;
  outline: none;
  transition: 0.3s; }
  .button-plus:active,
  .button-minus:active {
    transform: scale(1.3);
    transition: 0.3s; }

.button-plus:active {
  background: -moz-linear-gradient(top, #b0f2cc 0%, #f1f1f1 100%);
  background: -webkit-linear-gradient(top, #b0f2cc 0%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #b0f2cc 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0f2cc', endColorstr='$white', GradientType=0); }

.button-minus:active {
  background: -moz-linear-gradient(top, #f1f1f1 0%, #fcc7a1 100%);
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #fcc7a1 100%);
  background: linear-gradient(to bottom, #f1f1f1 0%, #fcc7a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white', endColorstr='#fcc7a1', GradientType=0); }

.borderedButton {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  color: #7E7E7E;
  border: 1px solid #ECF0F1;
  margin-top: 0.5rem;
  transition: 0.3s;
  margin-right: 0.3rem;
  cursor: pointer; }

.topCap {
  border-top: 1px solid #ebecec; }

.radio-gaijin {
  margin-top: 1.5rem;
  border: 1px solid #ebecec; }

.radio-green {
  display: inline-block; }

.quanty_item {
  padding-right: 2.7rem;
  position: relative;
  overflow: hidden; }

.triangleButton {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 1rem);
  top: 0;
  transition: 0.3s; }

.triangleButton_increment {
  right: calc(-50% + 1rem);
  background-color: #eee;
  z-index: 2; }

.triangleButton_decrement {
  left: calc(-50% + 1rem);
  background-color: #eee;
  z-index: 2; }

.quanty_item:hover .quantyNumber {
  background-color: #78B64B;
  color: white;
  right: calc(50% - 1rem);
  transition: 0.3s;
  border: 1px solid #78B64B; }

.quanty_item:hover .triangleButton_decrement {
  left: 0;
  transition: 0.3s;
  cursor: pointer; }

.quanty_item:hover .triangleButton_increment {
  right: 0;
  transition: 0.3s;
  cursor: pointer; }

input[type=radio]:checked + label {
  transition: 0.3s;
  background: linear-gradient(#78B64B, #78B64B);
  color: white; }

input[type=checkbox]:checked + label {
  transition: 0.3s;
  background: linear-gradient(#78B64B, #78B64B);
  color: white; }

input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 1.8rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  /* iOS */ }

::-webkit-slider-runnable-track {
  background: #f1f1f1; }

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2rem;
  /* 1 */
  height: 1.8rem;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #78B64B;
  border: 1px solid #ECF0F1;
  /* 1 */ }

::-moz-range-track {
  height: 40px;
  background: #f1f1f1; }

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 1px solid #ECF0F1;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #78B64B;
  box-sizing: border-box; }

::-ms-fill-lower {
  background: dodgerblue; }

::-ms-thumb {
  background: #fff;
  border: 1px solid #ECF0F1;
  height: 40px;
  width: 20px;
  box-sizing: border-box; }

::-ms-ticks-after {
  display: none; }

::-ms-ticks-before {
  display: none; }

::-ms-track {
  background: #f1f1f1;
  color: transparent;
  height: 40px;
  border: none; }

::-ms-tooltip {
  display: none; }

.calc__ghost {
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  color: #C6EBAC; }

.slider-val {
  color: #f1f1f1;
  margin-bottom: 0.3rem; }

.slider-val_1 {
  float: left; }

.slider-val_2 {
  float: right; }

.calculator-section {
  background-color: #fff;
  padding: 2rem 4rem; }
  .calculator-section .form-title {
    color: #a6a5a9;
    font-size: 0.8rem;
    margin-bottom: 1.5rem; }
  .calculator-section .form-title_top {
    margin-top: 1.5rem; }
  .calculator-section .secSlider {
    margin-top: 2rem; }
  .calculator-section .sliderSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.CalcSumText {
  display: inline-block;
  position: relative;
  left: -1.2rem;
  vertical-align: bottom;
  bottom: 0.4rem; }

.calculator__main {
  border-right: 1px solid #f1f1f1; }

.calcAddddHidden {
  opacity: 0.2;
  filter: blur(1px);
  transition: 1s; }

.calcFin {
  display: flex;
  align-items: center; }

.calculator__second {
  transition: 1s; }

.calcCheckBox {
  margin-bottom: 0.5rem;
  color: #626165; }

.percent_inc {
  display: flex;
  align-items: center;
  justify-content: center; }

.calcPlusMin input,
.calcPlusMin textarea {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none; }

.calcPlusMin input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

.calcPlusMin input::-webkit-outer-spin-button,
.calcPlusMin input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.calcPlusMin .input-group .button-minus,
.calcPlusMin .input-group .button-plus {
  background-color: transparent; }

.calcPlusMin .input-group .quantity-field {
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 13px;
  resize: vertical;
  background-color: transparent;
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #C6EBAC; }

.calcPlusMin input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none; }

.taxSelector {
  margin-top: 0.2rem; }

.quantyNumber {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #1e1e1e;
  transition: 0.3s;
  border: 1px solid #f1f1f1; }

.question {
  background-color: white;
  position: relative;
  transition: 0.3s; }
  .question.question_active {
    background-color: #78B64B;
    transform: scale(1.02);
    position: relative;
    z-index: 2;
    transition: 0.3s; }
    .question.question_active .question__body {
      transition: 0.3s;
      max-height: 1000px; }

.question:hover {
  background-color: #78B64B;
  transition: 0.3s;
  transform: scale(1.02); }

.question__cap {
  padding: 1rem 2rem;
  border-bottom: 1px solid #78B64B;
  cursor: pointer; }

.question__body {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
  background-color: #f1f1f1; }
  .question__body .question__bodyWrap {
    margin: 2.5rem 2rem; }

.cardPaddings {
  padding: 3rem 4rem; }

.priceCard_Wrap {
  background-color: #1e1e1e;
  background: linear-gradient(to bottom, #1c1b1d 0%, #151726 100%);
  background: url(/assets/img/splashBG.jpg) no-repeat center center;
  color: #f1f1f1;
  height: 100%;
  padding: 2rem;
  position: relative;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.3); }
  .priceCard_Wrap h5 {
    margin-top: 0;
    padding-bottom: 1.5rem; }

.priceCard_row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #78B64B;
  margin-bottom: 2rem; }

.priceCard_row:last-of-type {
  border-bottom: none; }

ul {
  margin: 0; }

.priceCard_row_price {
  flex-shrink: 0;
  margin-left: 1.5rem;
  color: #78B64B; }

.priceCard_row__underList {
  margin: 0; }

.aboutFirstCard {
  background-color: #fff;
  margin-top: 2rem;
  position: relative;
  overflow: hidden; }
  .aboutFirstCard:after {
    position: absolute;
    content: "&";
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25rem;
    top: -40px;
    left: 10px;
    color: #f1f1f1;
    line-height: 0.8;
    z-index: 2; }
  .aboutFirstCard .aboutFirstCard__p {
    font-size: 1.2rem;
    position: relative;
    z-index: 3;
    color: #C6EBAC; }

.aboutFirstCard__wrap {
  position: relative; }
  .aboutFirstCard__wrap .aboutFirstCard__img {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 40, 0); }

.advantagesCards {
  min-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .advantagesCards::-webkit-scrollbar {
    display: none; }
  .advantagesCards .advantagesCard {
    display: inline-block;
    height: 13rem;
    width: 18rem;
    margin-right: 2rem;
    background-color: rgba(3, 12, 82, 0.6);
    position: relative;
    overflow: hidden;
    border-radius: 5px; }
    .advantagesCards .advantagesCard:first-of-type {
      margin-left: 15%; }
  .advantagesCards .advantagesCard__text {
    font-size: 1.2rem;
    width: 60%;
    white-space: pre-wrap;
    position: absolute;
    bottom: 0;
    right: 1.15rem;
    text-align: right;
    z-index: 3; }
  .advantagesCards .advantagesCard__ghost {
    position: absolute;
    z-index: 2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 25rem;
    bottom: -10%;
    right: -10%;
    color: #fb3636;
    opacity: 1;
    line-height: 0.6;
    mix-blend-mode: color-dodge; }

.cardsPaddings {
  padding-top: 3rem; }

.grecaptcha-badge {
  display: none; }

.grecaptcha-badge__display {
  display: block; }

.footer__phone {
  text-decoration: none; }

.contactCard {
  background-color: #fff;
  z-index: 3; }

.contactCard__submit {
  background-color: #78B64B;
  color: #f1f1f1; }

.contactinfo {
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: #1e1e1e;
  color: #f1f1f1;
  background: url(/assets/img/mapBG.jpg) no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .contactinfo h4 {
    margin-top: 1rem; }

.aboutAdv__text {
  font-size: 1.1rem; }

.contactsAddres {
  position: relative;
  z-index: 2; }
  .contactsAddres .mapDotted {
    position: absolute;
    height: 30rem;
    z-index: 1;
    top: -5%;
    left: -20%; }
  .contactsAddres p,
  .contactsAddres h3,
  .contactsAddres a {
    position: relative;
    z-index: 2; }

.footerPhoneWrap {
  margin-top: 1rem; }

.percent_inc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.testomsWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 3rem; }
  .testomsWrap .calc__ghost {
    position: absolute;
    top: -0.7rem;
    right: 15px;
    z-index: -1;
    color: #f1f1f1; }

.testomWrap {
  padding-bottom: 3rem;
  padding: 5rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  margin: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  color: #1e1e1e; }

.testomName {
  margin-top: 1rem;
  color: #a6a5a9 !important; }

.testomForm form {
  padding: 0 1rem;
  padding-bottom: 0.1rem;
  margin: 1rem;
  max-width: 80rem; }
  .testomForm form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #282828;
    color: #555;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
    position: relative;
    width: 100%; }
  .testomForm form button {
    background-color: #78B64B;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    margin-left: 15px !important; }
  .testomForm form .testomTextArea {
    width: calc(100% - 30px);
    border: none;
    background-color: #f1f1f1;
    height: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #030c52;
    vertical-align: top;
    margin-bottom: 0;
    transition: 0.3s;
    margin-left: 15px;
    overflow: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #282828;
    color: #555;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5rem;
    position: relative;
    width: 100%; }
    .testomForm form .testomTextArea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #a6a5a9;
      font-weight: 300;
      font-style: italic; }

.testomInfoRow,
.testomBut {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0; }

.testomForm .testomShow form {
  padding-bottom: 1rem; }

.testomForm .testomShow .testomInfoRow,
.testomForm .testomShow .testomBut {
  max-height: 100rem;
  overflow: hidden;
  transition: 0.3s;
  opacity: 1;
  margin: 1rem 0; }

.testomForm .testomShow .testomBut {
  height: 3rem;
  margin-top: 2rem;
  padding: 1rem 2rem; }

.testomForm .testomShow textarea {
  background-color: #f1f1f1;
  transition: 0.3s;
  height: 10rem;
  position: relative; }

.testomh5 {
  position: relative;
  z-index: 2; }
  .testomh5:before, .testomh5:after {
    position: absolute;
    font-size: 15rem;
    font-weight: 1000;
    color: #f1f1f1;
    z-index: -1;
    opacity: 0.5; }
  .testomh5:before {
    top: -5rem;
    left: -4rem;
    content: "“"; }
  .testomh5:after {
    top: -2rem;
    right: -4rem;
    content: "”"; }

.testomForm form.formSended.testomShow form {
  padding-bottom: 0; }

.testomForm form.formSended.testomShow .testomInfoRow,
.testomForm form.formSended.testomShow .testomBut {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  margin: 0; }

.testomForm form.formSended.testomShow .testomBut {
  height: 0;
  margin-top: 0;
  border-radius: 0; }

.testomForm form.formSended.testomShow textarea {
  background-color: white !important;
  transition: 0.3s;
  padding: 1.5rem 1rem; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.root {
  display: flex;
  width: 100vw; }

.preloader {
  align-self: center;
  justify-self: center; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #78B64B;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.aboutJumbo__h3 {
  margin: 0 1rem;
  text-align: center; }

.quantyDisplay {
  color: #1e1e1e; }

.pageJumbo_aboutSection {
  padding: 7rem 4rem; }

.objectRight {
  object-position: right; }

.objectLeft {
  object-position: left; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background-color: #78B64B; }

#fp-nav ul li .fp-tooltip {
  top: -35%;
  right: 140%; }

.modalForm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  .modalForm .contactFormWrap {
    padding: 3rem 5rem;
    position: relative; }
    .modalForm .contactFormWrap .form__closeButton {
      position: absolute;
      top: 0;
      right: 0;
      color: #f1f1f1;
      background-color: #1e1e1e;
      padding: 0.5rem 1rem;
      transition: 0.2s; }
      .modalForm .contactFormWrap .form__closeButton:hover {
        background-color: red;
        opacity: 0.6;
        transition: 0.2s; }
      .modalForm .contactFormWrap .form__closeButton:active {
        background-color: red; }

.contactFormWrap {
  background-color: #f1f1f1;
  color: #1e1e1e; }

/*$media-phone: "only screen and (max-width : 350px)";
$media-small: "only screen and (max-width : 750px)";
$media-medium: "only screen and (max-width : 992px)";
$media-large: "only screen and (max-width : 1200px)";
$media-hires: "only screen and (min-width : 2000px)";*/
@media only screen and (max-width: 1200px) {
  .priceSelector .layer__textBlock {
    width: 60%; }
  .priceSelector .container-lessfluid, .priceSelector .caclWrap {
    flex-direction: column; }
  .priceSelector .about_column1 {
    text-align: left;
    width: 100%; }
  .priceSelector .about_column2 {
    width: 100%; } }

@media only screen and (max-width: 992px) {
  .header__menu {
    display: none; }
  .about_column3 {
    width: 100%;
    margin-left: 0;
    margin-top: 4rem; }
  .layer__second .layer__textBlock {
    left: 7%; }
  .footer__link {
    font-size: 1.3rem; }
  h1 {
    font-size: 3rem; }
  html {
    font-size: 10px; }
  .numbersWrap p {
    margin-top: -2rem; }
  .container-lessfluid, .caclWrap {
    flex-direction: column; }
  .about_column1 {
    text-align: left;
    width: 100%; }
  .about_column2 {
    width: 100%; }
  .about_column3_services {
    margin-left: 0;
    width: 100%;
    margin-top: 2rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .priceCard {
    margin-top: 2rem; }
  .service h3::after {
    content: " - ";
    color: #78B64B;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0; }
  .serviceSectionMobile {
    padding: 7rem 4rem; }
  .service__block_1 {
    align-self: flex-start;
    margin: 3rem 0;
    width: 100%; }
  .scrollElementWrap {
    display: none; }
  .mobileHeader {
    display: flex; } }

@media only screen and (max-width: 767px) {
  .numbersAbout p {
    font-size: 1rem; }
  #fp-nav {
    display: none; }
  .layer__textBlock {
    width: 90%; }
  .aboutFirstCard__img {
    display: none; }
  .videoDiv__wrap {
    height: 80vh;
    padding-left: 0; }
  .contactsAddres {
    margin-top: 4rem; }
  p {
    font-size: 1.1rem; }
  .mobileMenuLink {
    color: white; }
  .sliderSection {
    margin-top: 2rem; }
  .calculator__main {
    border-right: none; }
  .borderedButton {
    font-size: 1rem; }
  .cardPaddings {
    padding: 2rem 1rem; }
  .pageJumbo {
    clip-path: none; }
  .calculator-section {
    background-color: #1e1e1e;
    color: #f1f1f1;
    padding: 2rem 1rem; }
  .hiddenSM {
    display: none; }
  .form-title {
    margin-top: 1rem; }
  .calcSum__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    background-color: #78B64B;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .quanty .form-title {
    display: inline-block; } }

@media only screen and (max-width: 375px) {
  .layer__textBlock {
    width: 90%; } }

.selectedText {
  color: #78B64B; }

.darkText {
  color: #1e1e1e; }

/*$media-phone: "only screen and (max-width : 375px)";
$media-small: "only screen and (max-width : 750px)";
$media-medium: "only screen and (max-width : 992px)";
$media-large: "only screen and (max-width : 1200px)";
$media-hires: "only screen and (min-width : 2000px)";*/
