textarea:focus,
input:focus {
    outline: none;
}


*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGKgAyen3jYmqnjeSwGMkznr3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGKwVYvVWY_f19BJKhZhQZaf3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGA9oqG_G9gZvkREQtaqnHrv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGE_i2bImCu7Ya06zYz5AJK33rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGBtvTbjs3T7OK9b50AXe70D3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGDvlGRZ3uCFbvUJSJFyaVCX3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGIAPdqzPmKFFIYQ-46z3JxY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* cyrillic-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGN1uXQa5qj-FXc8MOkghfAz3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGEUAcU-NBBB0c67K5TjNXbr3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGOEtBXHRshu9Cg5DyJLmivv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCOJ76UmK94qPa2C6EON3Fb3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGDCgBLtsnrdK1Wb_YMpk1Ez3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGKfQKEmnUd3GHgKOgaFw3O33rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGIq-Fb0zf838trI74uojZQY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    /*-webkit-transition: 0.3s;
    transition: 0.3s;*/
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

*:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    overflow-z: hidden;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

#main {
    min-height: 100vh;
    left: 0;
    right: 0;
    position: relative;
}

#primary {
    min-height: calc(100vh - 70px);
}

.pageJumbo {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/jumboGirl.jpg) no-repeat center center;
    background-size: cover;
}

.contetPaddings {
    padding: 30px 0;
}

.pageJumboTestom {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/customers.jpg) center center;
}

.containerTestom {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}



.contetPadding {
    padding-top: 30px;
}

.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    z-index: 4;
    opacity: 0.99999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header * {

    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header a {
    color: #fff;
}

.header img {
    height: 100px;
    width: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header .phones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.header .headerRightContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header p {
    margin: 15px;
}

.smaller {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.smaller img {
    height: 70px;
}

.jumbo {
    min-height: 400px;
    width: 100%;
    height: 100vh;
    background: url(../img/preloader.jpg) no-repeat center center;
    background-size: cover;
    z-index: -2;
 
}
#videoWrap{
    position: absolute;
    min-height: 400px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    filter:brightness(50%);
    overflow: hidden;
    transition: 0.5s;
}
.controlsWhenMuted, .controlsUnmuted{
    margin-left: 15px;
}
.controlsUnmuted{
    display: none;
}
#taxiVideo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
}
.jumboVideoControls{
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 5;
}
.jumbo li {
    display: inline;
}

.jumbo .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.jumbo .jumboText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 3;
}

.jumbo .containerJumbo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}





.jumbo h1 {
    color: #ffd100;
    margin: 0;
}

.jumbo h2 {
    color: #fff;
}

.jumbo p {
    font-size: 25px;
    color: #fff;
}

.jumbo a {
    color: #fff;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #ffd100;
    margin: 0;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 70px;
    margin: 25px 0;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: 0;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 100px;
    margin: 0;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 10px 0;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.blur {
    -webkit-filter: blur(5px);
    /* Safari */
    filter: blur(5px);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    /* Safari */
    filter: grayscale(100%);
}





/* SIDENAV*/

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 6;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: -1px 1px 55px -5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: -1px 1px 55px -5px rgba(0, 0, 0, 0.53);
    box-shadow: -1px 1px 55px -5px rgba(0, 0, 0, 0.53);
    white-space: nowrap;
    /* 0.5 second transition effect to slide in the sidenav */
}





/* The navigation menu links */

.sidenav a {
    padding: 15px 8px 15px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid #ebebeb;
}





/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #ffd100;
}





/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}





/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {

    overflow-x: hidden;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}





/* HAM menu*/

#nav-icon1 {
    width: 40px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 5;
    opacity: 0.9999;
}

.hamBorder {
    margin-left: 20px;
    padding: 10px 10px 3px 10px;
    border-radius: 10px;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #ffd100;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 15px;
}

#nav-icon1 span:nth-child(3) {
    top: 30px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}





/* END HAM MENU*/


/* SIDENAV END*/

.sectionPaddings {
    padding: 40px 0;
}

.parralaxText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 500px;
    position: absolute;
    opacity: 0.1;
    z-index: -99999;
    white-space: nowrap;
    -webkit-transition: 0;
    transition: 0;
    top: -20px;
}

.order {
    overflow: hidden;
    background-color: #333;
    background-image: url("../img/map_pattern_2.png");
    background-size: 70%;


    -webkit-box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    text-align: center;
    /* switchInputButtons*/
    /* endSwitchInputButtons*/
    /* matformEnd*/
}

.order .inputPlash {
    overflow: visible;
    padding: 0;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
}

.order .adressAndPhone .inputPlash {
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 0;
    -webkit-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
}

.order form {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}

.order h2 {
    color: #fff;
    margin: 0 0 0 0;
}

.order h5 {
    font-style: italic;
    color: white;
    text-decoration: underline;
    margin-bottom: 25px;
}

.order .inputText {
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.order .botLine {
    border-bottom: 1px solid #ebebeb;
}

.order .time input {
    height: 57px;
}

.order .switch-field {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 25px;
    overflow: hidden;
}

.order .switch-title {
    margin-bottom: 6px;
}

.order .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.order .switch-field label {
    float: left;
    height: 47px;
}

.order .switch-field label {
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.order .switch-field label:hover {
    cursor: pointer;
}

.order .switch-field input:checked+label {
    background-color: #ffd100;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    -webkit-box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: inset 5px 0px 53px -4px rgba(0, 0, 0, 0.4);
}

.order .switch-field label:first-of-type {
    border-radius: 4px 0 0 0;
}

.order .switch-field label:last-of-type {
    border-radius: 0 4px 0 0;
}

.order #indexFormSubmit {
    background-color: #ffd100;
    border: none;
    color: #000;

    padding: 15px 30px;
    cursor: pointer;
    height: 64px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.order button img {
    margin: -1px 10px;
}

.order #indexFormSubmit:hover {
    background-color: #e45b00;
}

.order #datetime {
    border: none;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.order .timeIco {
    margin-top: 8px;
}

.autopark {
    z-index: 2;
    padding-top: 50px;
    height: 770px;
    background-color: #ffd100;
    position: relative;
    overflow: hidden;
    background: url("../img/carBG.jpg") no-repeat center center;
    background-size: cover;
}

.autopark .ourCars {
    margin-top: 0;
    margin-right: 70px;
}

.autopark .skodaPhoto {
    z-index: 4;
    position: absolute;
    right: 450px;
    -webkit-transition: 0s;
    transition: 0s;
}

.autopark .vwPhoto {
    z-index: 2;
    position: absolute;
    right: 430px;
    -webkit-transition: 0s;
    transition: 0s;
}

.autopark .carDescMob {
    background-color: #ebebeb;
    padding: 10px 20px;
    text-align: left;
}

.autopark .carDescMob a {
    text-decoration: underline;
}

.autopark .carDescModel {
    background-color: #333;
    padding: 15px 20px;
}

.autopark .carDescModel img {
    float: left;
    margin-right: 10px;
}

.autopark .desc {
    position: absolute;
    right: 20px;
    top: 200px;
    width: 530px;
    background-color: #ebebeb;
    -webkit-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
}

.autopark .desc .carDesc {
    text-align: justify;
    padding: 10px 30px;
}

.autopark .desc .carDesc p {
    font-size: 20px;
}

.autopark .vwDesc {
    transform: scale(0.7) translate(-150px, -170px);
    z-index: 1;
}

.autopark .skodaDesc {
    z-index: 3;
    -webkit-transition: 0s;
    transition: 0s;
}

.autopark .carManufactr {
    width: 100px;
    height: auto;
}

@media only screen and (min-width: 1775px) {
    .skodaPhoto {
        left: 0;
    }

    .skodaName {
        left: 1170px
    }

    .vwName {
        left: 800px;
    }

    .vwPhoto {
        left: 90px;
    }

    .autopark .desc {
        width: 28%;
    }
}

.aboutUs {
    height: 800px;
    background-image: url("../img/flaresBG.jpg");
    background-size: auto 100%;
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 1480px) {
    .aboutUs .aboutUs {
        background-image: url("../img/flaresBG.jpg");
        background-size: 100% auto;
    }
}

.aboutUs .container {
    position: relative;
}

.aboutUs .poglash {
    bottom: 80px;
    position: absolute;
    max-width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.aboutUs .shashDivWrapper {
    position: absolute;
    left: 550px;
    top: 90px;
    z-index: 1;
}

.aboutUs .shashDivWrapper .shashDivPositioner {
    position: relative;
}

.aboutUs .padAndBorder {
    border-left: 2px solid #ffd100;
    padding-left: 10px;
}

.aboutUs svg {
    width: 90px;
    height: 90px;
    fill: #ffd100;
    position: absolute;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.aboutUs svg.checkList {
    top: 50px;
    right: 530px;
    width: 105px;
    height: 105px;
    fill: white;
}

.aboutUs .driverIco {
    top: 150px;
    right: 445px;
}

.aboutUs .carWash {
    top: 50px;
    right: 350px;
}

.aboutUs .roubleIco {
    top: 148px;
    right: 238px;
    width: 100px;
    transform: scale(0.7);
}

.aboutUs .timeIco {
    top: 53px;
    right: 154px;
    width: 100px;
    transform: scale(0.8);
}

.aboutUs .fil1 {
    fill: none;
}

.aboutUs .aboutUsTxt {
    color: #fff;
    width: 600px;
    left: 0;
}


.footerText {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

footer {

    color: white;
    padding-top: 25px;
    z-index: 4;

    position: relative;
}

footer hr {
    border: none;
    color: red;
    /* Цвет линии для остальных браузеров */
    background-color: #ffd100;
    height: 1px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

footer li {
    font-size: 15px;
    color: white;
}

footer p {
    font-size: 15px;
}

footer li:hover {

    color: #ffd100;
}

.padding0 {
    padding: 0 !important;
}

.whiteTxt {
    color: #fff;
}

.hidden {
    display: none;
}

.mt15 {
    margin: 15px 0 0 0;
}

.mt25 {
    margin: 25px 0 0 0;
}

.mt50 {
    margin-top: 50px;
}

.fRight {
    float: right;
}

.fLeft {
    float: left;
}





/**
 * Strong Testimonials Default Form template
 */

.strong-form {
    margin: 0 auto;
}

.strong-form .form-field {
    margin-bottom: 1.5em;
}

.strong-form .form-field.submit {
    margin-bottom: 0;
}

.strong-form .required.symbol:after {
    content: '*';
    color: #FF0000;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0 5px;
    position: relative;
    top: 5px;
}

.strong-form label {
    display: inline-block;
    float: none;
}

.strong-form input[type="text"],
.strong-form input[type="email"],
.strong-form input[type="url"],
.strong-form input[type="file"],
.strong-form select,
.strong-form textarea {
    box-sizing: border-box;
    display: block;
    float: none;
    width: 100%;
    padding: 15px;
    border: none;
}

.strong-form input[type="checkbox"] {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    margin-left: 12px;
    margin-right: 6px;
}

.strong-form input[type="checkbox"]+label {
    font-weight: 200;
    padding: 5px;
}

.strong-form input[type="checkbox"]:focus+label {
    outline: 1px solid #CCC;
}

.strong-form textarea {
    height: 16em;
}

.strong-form span.error,
.strong-form label.error {
    display: block;
}

.strong-form .before {
    display: block;
}

.strong-form .after {
    display: block;
}

.strong-form-inner {
    padding: 20px;
}

input.captcha {
    display: block;
    width: auto;
}

img.captcha {
    border: 0;
}

.wpmtst-captcha {
    margin-bottom: 1em;
}





/* category checklist */

.strong-form ul.strong-category-list,
.strong-form ul.strong-category-list ul.children {
    list-style-type: none;
}

.strong-form ul.strong-category-list label,
.strong-form ul.strong-category-list ul.children label {
    font-weight: 200;
    white-space: nowrap;
    word-wrap: break-word;
}

.strong-form ul.strong-category-list {
    margin: 0;
    padding-left: 0;
}

.strong-form ul.strong-category-list ul.children {
    margin-left: 1.5em;
    padding-left: 0;
}

.strong-form {
    /* Error indicators */
    /* field-wrap is used for checkboxes, radios, star ratings */
}

.strong-form label {
    font-weight: 900;
}

.strong-form .form-field .after {
    font-size: .9em;
    font-style: italic;
}

.strong-form input.error,
.strong-form textarea.error,
.strong-form select.error {
    background: #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
}

.strong-form span.error,
.strong-form label.error {
    color: #B50007;
}

.strong-form .field-wrap {
    display: block;
    font-weight: 200;
    border: 1px solid transparent;
}

.strong-form .field-wrap.error {
    border-radius: 3px;
    background: #F9E5E6;
    border: 1px solid #E8AAAD;
    color: #B50007;
}

.strong-form .field-wrap.error .checkbox-label {
    outline: none;
}

.strong-form .field-wrap.error .strong-rating {
    outline-color: #E8AAAD;
}

.strong-form .field-wrap input+label+.required.symbol:after {
    margin-left: 0;
}




/**
 * Strong Testimonials Modern template
 */


/* Clears
-----------------------------------------------*/

.clear {
    clear: both;
}

.form-field .required {
    display: none;
}

#wpmtst-form {
    background-color: #ebebeb;
    overflow: hidden;
}





/**
Minimum paragraph width means no short words in skinny space next to image
in columns or small screens.
This workaround is needed until we can use flexbox properly
or CSS offers container queries.
Thanks https://css-tricks.com/minimum-paragraph-widths/
*/

.maybe-clear {
    content: "";
    /* this value seems to work well in both responsive and Masonry */
    width: 6em;
    display: block;
    overflow: hidden;
}





/* Base
-----------------------------------------------*/

.strong-view.modern {
    display: block;
    /* setting a width handles short content */
    width: 100%;
}

.strong-view.modern * {
    box-sizing: border-box;
}

.strong-view.modern .testimonial.t-slide {
    margin-top: 0;
    margin-bottom: 0;
}

.strong-view.modern .testimonial-inner {
    display: block;
    /* fill horizontal & vertical space */
    width: 100%;
    height: 100%;
}

.strong-view.modern .testimonial-image {
    max-width: 100%;
}

.strong-view.modern .testimonial-field-before {
    margin-right: 0.5em;
}

.strong-view .screen-reader-text {
    /* copied from Twenty Sixteen theme */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    /* many screen reader and browser combinations announce broken words as they would appear visually */
    word-wrap: normal !important;
}





/* Paging controls
-----------------------------------------------*/

.simplePagerList {
    /* match .strong-content container */
    margin: 20px auto;
    text-align: center;
}

.strong-view ul.simplePagerNav {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.strong-view ul.simplePagerNav li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.strong-view ul.simplePagerNav li a {
    border-radius: 50%;
    display: inline-block;
    line-height: 1.7em;
    margin: 0 1px;
    outline: none;
    text-decoration: none;
    transition: background 0.2s ease;
    width: 1.7em;
}

.strong-view ul.simplePagerNav li a:hover {
    background: #CDCDCD;
}

.strong-view ul.simplePagerNav li.currentPage a {
    text-decoration: none;
    background: #CDCDCD;
    color: #000;
}

.strong-view.rtl ul.simplePagerNav li {
    float: right;
}





/* Paging controls
-----------------------------------------------*/

.standard-pagination {
    /* match .strong-content container */
    margin: 20px auto;
    text-align: center;
}

.strong-view ul.page-numbers {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.strong-view ul.page-numbers li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.strong-view ul.page-numbers li span,
.strong-view ul.page-numbers li a {
    margin: 0 0.2em;
    padding: 0.1em 0.3em;
}

.strong-view ul.page-numbers li a {
    outline: none;
    text-decoration: none;
    transition: background 0.2s ease;
}

.strong-view ul.page-numbers li a:hover {
    background: #BBB;
    color: #FFF;
}

.strong-view ul.page-numbers li span.current {
    background: #999;
    color: #FFF;
}

.strong-view.rtl ul.page-numbers li {
    float: right;
}





/* Template
-----------------------------------------------*/

.strong-view.modern .testimonial {
    margin: 20px auto;
    width: 100%;
}

.strong-view.modern .testimonial:first-child {
    margin-top: 0;
}

.strong-view.modern .testimonial:last-child {
    margin-bottom: 0;
}

.strong-view.modern .testimonial-inner {
    padding: 30px;
    text-align: center;
}

.strong-view.modern .testimonial-heading {
    font-weight: 900;
}

.strong-view.modern .testimonial-content {
    color: #434343;
    margin: 0 56px;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    position: relative;
}

.strong-view.modern .testimonial-content p:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

.strong-view.modern .testimonial-content p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

.strong-view.modern .testimonial-content:before,
.strong-view.modern .testimonial-content:after {
    font-family: fontawesome;
    color: #CDCDCD;
    font-size: 36px;
    font-style: normal;
    line-height: 36px;
    position: absolute;
    width: 36px;
}

.strong-view.modern .testimonial-content:before {
    content: "\f10d";
    left: -56px;
    top: 0;
}

.strong-view.modern .testimonial-content:after {
    content: "\f10e";
    right: -56px;
    bottom: 0;
}

.strong-view.modern .testimonial-client {
    clear: both;
    margin-top: 30px;
    text-align: center;
}

.strong-view.modern .testimonial-name {
    color: #434343;
    font-size: 1.3em;
    font-weight: 900;
}

.strong-view.modern .testimonial-date {
    font-size: 0.9em;
    color: #777;
}

.strong-view.modern .testimonial-company {
    font-size: 1.1em;
}

.strong-view.modern .testimonial-image {
    display: inline-block;
    margin-bottom: 10px;
}

.strong-view.modern .testimonial-image img {
    border-radius: 50%;
}

.strong-view.modern .testimonial-image a {
    text-decoration: none;
    box-shadow: none;
}

.strong-view.modern .readmore-page {
    background: #F4F4F4;
    padding: 0.7em;
    text-align: center;
}

.strong-view.modern .strong-slider-controls .slider-pager span::before {
    color: #808080;
}

.strong-view.modern .strong-slider-controls.indexed {
    line-height: 22px;
    padding: 19px 0;
}

.strong-view.modern .strong-slider-controls.indexed .slider-pager span {
    height: 22px;
    width: 22px;
}

.strong-view.modern .strong-slider-controls.indexed span.slider-pager-active {
    border-radius: 50%;
    background: #CDCDCD;
    font-weight: 200;
}





/* Widget
-----------------------------------------------*/

.widget .strong-view.modern .testimonial-inner {
    padding: 20px;
}

.widget .strong-view.modern.slider-bottom .testimonial-inner {
    padding-bottom: 40px;
}

.widget .strong-view.modern .strong-slider-controls {
    line-height: 40px;
}

.widget .strong-view.modern .testimonial-content {
    margin: 36px 0;
}

.widget .strong-view.modern .testimonial-content:before {
    left: 0;
    top: -36px;
}

.widget .strong-view.modern .testimonial-content:after {
    right: 0;
    bottom: -36px;
}

.widget .strong-view.modern .readmore {
    display: block;
}





/* Slideshow
-----------------------------------------------*/

.strong-view.modern.slider-container .strong-content {
    margin: 0 auto;
}

.strong-view.modern.slider-container .testimonial:not(:first-child) {
    display: none;
}

.strong-view.modern.nav-position-inside .testimonial-inner {
    padding-bottom: 60px;
}

.strong-view.modern.controls-type-sides .testimonial-inner {
    padding-left: 50px;
    padding-right: 50px;
}





/* Responsive
-----------------------------------------------*/

@media only screen and (max-width: 480px) {
    .strong-view.modern .testimonial-inner {
        padding: 15px;
    }

    .strong-view.modern .testimonial-content {
        margin: 0;
        font-size: 1.1em;
        /* move quotes from left/right to top/bottom */
    }

    .strong-view.modern .testimonial-content:before {
        position: static;
        display: block;
        margin-bottom: 10px;
    }

    .strong-view.modern .testimonial-content:after {
        position: static;
        float: right;
        margin-top: 10px;
    }

    .strong-view.modern .testimonial-name {
        font-size: 1.1em;
    }
    * {
        font-size: 12px;
    }
}

@media only screen and (max-width: 380px) {
    .order .inputText {
        padding-left: 5px;
    }



    .sidenav a {
        font-size: 15px;
    }

    .order .switch-field label {
        font-size: 17px;
    }

    a {
        font-size: 20px;
    }


    .container .switch-field label {
        padding: 10px 10px !important;
    }
}




/*
image input*/

#wpmtst_featured_image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.field-featured_image label {


    color: black;
    background-color: white;
    display: inline-block;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200 !important;
}

.field-featured_image:focus label,
.field-featured_image label:hover {
    background-color: #ffd100;
}

#wpmtst_submit_testimonial {
    background-color: #ffd100;
    border: none;
    color: #000;
    padding: 15px 30px;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.container .switch-field {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 0 20px 0;
    font-weight: 200;
    overflow: hidden;
    display: inline-block;
}

.container .switch-title {
    margin-bottom: 6px;
}

.container .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.container .switch-field label {
    float: left;
}

.container .switch-field label {
    display: inline-block;

    font-size: 14px;
    font-weight: normal;
    text-align: center;

    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-left: -1px;
}

.container .switch-field label:hover {
    cursor: pointer;
}

.container .switch-field input:checked+label {
    background-color: #ffd101;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
    margin: 0;
}

.container .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/PT_Sans.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/PT_Sans_Reg.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

.txtAlignCenter {
    text-align: center;
}


.i40Photo {
    position: absolute;
    top: -30px;
    width: 650px;
    height: auto;
    right: 100px;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.skodaName {
    position: absolute;
    right: 100px;
    top: 280px;
    color: white;
    z-index: 3;
    font-size: 80px;
    -moz-transition: transform 0s;
    -ms-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s;
}

.vwName {
    position: absolute;
    right: 350px;
    top: 50px;
    color: white;
    z-index: 1;
    font-size: 80px;
    -moz-transition: transform 0s;
    -ms-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s;
    opacity: 0;
}

.i40Name {
    position: absolute;
    right: 100px;
    top: 350px;
    color: white;
    z-index: 3;
    font-size: 80px;
    -moz-transition: transform 0s;
    -ms-transition: transform 0s;
    -o-transition: transform 0s;
    transition: transform 0s;
    opacity: 0;
    text-align: right;
}

.autoparkParralax {
    position: absolute;
    font-size: 400px;
    margin-top: -150px;
    opacity: 0.05;
    z-index: -7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.uslugiParralax {
    white-space: nowrap;
    position: fixed;
    z-index: 2;
    font-size: 400px;
    bottom: 0;
    opacity: 0.1;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.aboutUsParralax {
    top: 90px;
    position: absolute;
    right: -600px;
    font-size: 400px;
    margin-top: -150px;
    opacity: 0.05;
    z-index: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

#pageContent {
    position: relative;
    z-index: 2;
    background-color: #fff;
    margin: 0 20px;
    padding: 30px 70px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
    box-shadow: 5px 0px 53px -4px rgba(0, 0, 0, 0.58);
}

#pageContent ul {
    list-style: none;
}




.smallPageContent {
    height: 150px;
}

.imgResp {
    width: 100%;
    height: auto;
    display: block;
}

.priceListJumbo {
    background: url(../img/priceListBG.jpg) no-repeat center center;
    background-size: cover;
}

td {
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

table {
    width: 100%;
}




tr:hover {

    border: 1px solid #dedede;
    -webkit-transition: 0s;
    transition: 0s;
}

td:hover {
    background-color: #ffd100;
    padding: 0 0;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: 0s;
}

td:first-child:hover {
    background-color: #fff;
}

.odincovoPricesRow td:not(:first-child):hover:after {
    content: "выбрать";
    font-size: 13px;
    color: #222
}


td {
    text-align: center;
    width: 5%;
    -webkit-transition: padding 0s;
    transition: padding 0s;
}

td:first-child {
    text-align: left;
    width: 22%;
}

.priceListMain {
    min-height: 1500px;
}

#myTable {
    width: 100%;
}

.carsImagesPrice {
    width: 100%;
}

.carClassDesc,
.priceImages {
    display: inline-block;
}

.carClassDesc {
    width: 22%;
    background-color: yellow;
}

.priceImages {
    width: 15%;
    text-align: center;
}

.oplataButton {
    height: 50px;
    position: fixed;
    width: 320px;
    bottom: 30px;
    right: 5%;
    background: #ff9254;
    /* Old browsers */
    background: -moz-linear-gradient(top,
    #ff9254 0%,
    #ffc907 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
    #ff9254 0%,
    #ffc907 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
    #ff9254 0%,
    #ffc907 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9254',
    endColorstr='#ffc907',
    GradientType=0);
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 56px 1px rgba(0,
    0,
    0,
    0.36);
    -moz-box-shadow: 0px 0px 56px 1px rgba(0,
    0,
    0,
    0.36);
    box-shadow: 0px 0px 56px 1px rgba(0,
    0,
    0,
    0.36);
    text-align: center;
}

.oplataButton p {}

.fullWidthImg {
    width: 100%;
    height: auto;
    display: inline-block;
}

.pageContent .priceOdincovo {
    height: 100%;
    min-height: 400px;
    border: 1px solid #efefef;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 32px 2px rgba(0,
    0,
    0,
    0.12);
    -moz-box-shadow: 0px 0px 32px 2px rgba(0,
    0,
    0,
    0.12);
    box-shadow: 0px 0px 32px 2px rgba(0,
    0,
    0,
    0.12);
    background-color: #fff;
    text-align: justify;
    padding: 30px 20px;
    white-space: normal;
}

.pageContent .priceOdincovo p {
    margin: 10px 0;
}

.odincovoPricesRow {
    transform: translateY(-10px);
    white-space: nowrap;
}

.odincovoPricesRow tr {
    height: 53px;
}

#allTableSearch,
#odincovoTableSeach {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffd100;
    margin-top: 25px;
    background-image: url(../img/searchIcon.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    height: 50px;
}

.autoparkBG {
    background: url(../img/autoparkBG.jpg) no-repeat center center;
    background-size: cover;
}

.vipColor {
    background-color: rgba(0,
    0,
    0,
    0.9) !important;
}

.autoparkPaddings {
    margin-bottom: 100px;
}

.txtShadow {
    text-shadow: 1px 1px 7px rgba(150,
    150,
    150,
    0.93);
}

.businessBG {
    background: url(../img/businessTaxi.jpg) no-repeat center center;
    background-size: cover;
}

.mb25 {
    margin-bottom: 25px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb150 {
    margin-bottom: 150px;
}

.m25 {
    margin-top: 25px;
}

.m50 {
    margin-top: 50px;
}

.m75 {
    margin-top: 75px;
}

.m100 {
    margin-top: 100px;
}

.m150 {
    margin-top: 150px;
}

.w100 {
    width: 100%;
}

.smallText {
    font-size: 17px;
}

.txtCenter {
    text-align: center;
}

.submitBusin {
    background-color: #ffd100;
    border: none;
    color: #000;
    padding: 15px 30px;
    cursor: pointer;
    height: 64px;
    width: 100%;
    font-family: 'Source Sans Pro',
    sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.inputTextBusin {

    border: 1px solid #ddd;
    color: #000;
    padding: 15px 30px;
    cursor: pointer;
    height: 64px;
    width: 100%;
    font-family: 'Source Sans Pro',
    sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.formBusin {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.icoBusin {
    width: 100px;
    height: auto;
}

.order .switch-title {
    margin-bottom: 6px;
}

#allDirectionChanger input {
    position: absolute !important;
    clip: rect(0,
    0,
    0,
    0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

#allDirectionChanger label {
    float: left;
}

#allDirectionChanger a,
#allDirectionChanger label {
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff;
    margin: 10px 10px 10px 0;
}

#allDirectionChanger a:hover {
    background-color: #ffd100;
    color: #fff;
}

#allDirectionChanger:after {
    content: "";
    display: table;
    clear: both;
}

#allDirectionChanger label:hover {
    cursor: pointer;
}

#allDirectionChanger input:checked+label {
    background-color: #ffd100;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

#allDirectionChanger {
    background-color: #efefef;
    padding: 0 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.calcButtonsPay button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 5px;
}

.calcButtonsPay button:hover {
    opacity: 0.9;
}


.calcButtonsPay button.cashPay {
    background-color: #ACCE45;
    color: #fff;
    border: none;
}

.calcButtonsPay button.onlinePay {
    background-color: #5690CA;
    color: #fff;
    border: none;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,
    0,
    0);
    /* Fallback color */
    background-color: rgba(0,
    0,
    0,
    0.4);
    /* Black w/ opacity */
    border-radius: 15px;
    transition: 0s;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#calcButton {
    background-color: #efefef;
    padding: 20px 10px;
    border-radius: 10px;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    white-space: normal;
    text-align: center;
}

#calcButton:hover {
    background-color: #ddd;
}

.selected {
    background-color: #ffd100 !important;
    color: #fff !important;
    transition: 0.3s;
}

.selectedText {
    color: #ffd100 !important;
}

.oplataDivPrice {
    padding: 20px 20px;
    position: fixed;
    width: 1100px;
    bottom: 30px;
    right: 5%;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.36);
    text-align: center;
    max-width: 90%;
    z-index: 14;
}

@media only screen and (max-width: 1170px) {
    * {
        font-size: 17px;
    }
    /*   .oplataDivPrice{
        width: 90%;
    }*/
}

.oplataDivPrice input[type="text"]:disabled {
    border: none;
}

.oplataDivPrice input,
#priceCalcForm input {
    width: 100%;
    height: 50px;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 0 10px;
}

.oplataDivPrice button {
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

.oplataDivPrice button:hover {
    opacity: 0.9;
}


.oplataDivPrice button.cashPay {
    background-color: #ACCE45;
    color: #fff;
    border: none;
}

.oplataDivPrice button.onlinePay {
    background-color: #5690CA;
    color: #fff;
    border: none;
}

#priceTel,
#namePrice {
    margin-top: 20px;
}



.nopaddings {
    padding: 0 !important;
}

.closeIconPrice {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.3;
    cursor: pointer;
}


#map {
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
}

.localOrNot {
    position: fixed;
    bottom: 0;
    background-color: #efefef;
    z-index: 12;
    width: 100%;
    text-align: center;
}

.odincovoSelector,
.stateSelector {
    padding: 10px 0;
    background-color: #efefef;
    transition: 0.3s;
}

.priceListSecond {
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #f5f5f5;
    padding-right: 5px;
    max-height: 300px;
    -webkit-box-shadow: inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC;
    -moz-box-shadow: inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC;
    box-shadow: inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC;
}

.priceListSecond a {
    padding-left: 20px;
}

.closedMenu {
    max-height: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.chevron {
    transform: rotate(0deg);

    color: inherit;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}


.rotatedChevron {
    transform: rotate(90deg);
    color: #efefef;
}

.invalidInput {
    border: 1px solid #ff552f !important;
}

.validInput {
    border: 1px solid #ACCE45 !important;
}

.driverBG {
    background: url(../img/driverBG.jpg) no-repeat center bottom;
    background-size: cover;
}

.standartBG {
    background: url(../img/jumboGirl.jpg) no-repeat center center;
    background-size: cover;
}

.testomBG {
    background: url(../img/customers.jpg) center center;
}

.noticeBubble {


    padding: 20px 10px;
    border-radius: 10px;
    color: white;
    margin-top: 45px;
    font-size: 20px;
    white-space: normal;
    text-align: left;
    background: url(../img/drunkNotice.jpg) no-repeat right center;
    background-size: auto 100%;
    background-color: #ff552f;
}

@media only screen and (max-width: 760px) {
    .warningRow {
        flex-direction: column;
    }
}

.stockBG {
    background: url(../img/jumboGirl.jpg) no-repeat center center;
    background-size: cover;
}

.warningImg {
    width: 120px;
    height: auto;
}

.girlDriverBG {
    background: url(../img/wDriverBG.jpg) no-repeat center center;
    background-size: cover;
}

.meetBG {
    background: url(../img/meetBG.jpg) no-repeat center top;
    background-size: cover;
}

.viptaxidesc {
    background: url(../img/viptaxiBG.jpg) no-repeat center center;
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#jumboFirstImage {
    min-height: 100vh;
    position: fixed;


    width: 100%;
    z-index: 1;
    top: 0;
    -webkit-transition: filter 1s ease-out 0.5s;
    -moz-transition: filter 1s ease-out 0.5s;
    -o-transition: filter 1s ease-out 0.5s;
    transition: filter 1s ease-out 0.5s;
    transform: scale(1.2);
}

#jumboFirstText {
    min-height: 100vh;
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#jumboFirstText:after {
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: white;
    font-size: 18px;
    color: white;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 5%;
    animation: sdb05 2s infinite;
    -webkit-animation: sdb05 2s infinite;
    -moz-animation: sdb05 2s infinite;
    -o-animation: sdb05 2s infinite;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}




.simplePageGrad {
    min-height: 100vh;
    margin-top: -25px;
    left: 0;
    right: 0;
    background: #f7971e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7971e, #ffd200);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7971e, #ffd200);
    z-index: -2;
}

.simplePageGradVIP {

    min-height: 100vh;
    margin-top: -25px;
    left: 0;
    right: 0;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -2;
}

.meetTablo {
    border: 0.5px solid #efefef;
    border-radius: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 32px 2px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    overflow: hidden;
    /* margin-bottom: 30px; */
    margin-top: 25px;
    text-align: center;
    background-color: #ffd100;
}

.meetTablo h3 {
    text-align: center;
    background-color: #ffd100;
    padding: 10px 0;
}

.meetTablo h3:before {
    content: "\f072 ";
    font-family: FontAwesome;
    color: #d8b100;
}

.meetTablo h3:after {
    content: " \f072 ";
    font-family: FontAwesome;
    color: #d8b100;
    display: inline-block;
    transform: rotate(90deg);
}

.meetTablo .switchTablo {
    padding: 0;

    margin-top: -5px;
}

.meetTablo .switchTablo input {
    display: none;
}

.meetTablo .switchTablo input:checked+label {
    background-color: #f3f3f9;
}

.meetTablo .switchTablo label {
    border-bottom: none;
    background-color: #fff;
    margin-left: -4px;
    padding: 5px 5px;
}

.meetTablo .switchTablo label:first-of-type {
    border-radius: 4px 0 0 0;
}

.meetTablo .switchTablo label:last-of-type {
    border-radius: 0 4px 0 0;
}

#priceButton {
    background-color: #ffd100;
    border: none;
    color: #000;
    padding: 15px 30px;
    cursor: pointer;
    height: 64px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

#priceButton:hover {
    background-color: #e45b00;
}
.appLinkToStore{
    width: 100%;
    height: 70px;
    
    justify-content: space-between;
    position: fixed;
    z-index: 999999;
    top: 0;
    padding: 0 5%;
      background: #f7971e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7971e, #ffd200);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7971e, #ffd200);
    color: white;
    align-items: center;
    display: none;
}
.AppFirstText{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin: 0;
}
.LeftText p{
    margin: 0;
}

@media only screen and (min-width: 1480px) {
    .aboutUs .shashDivWrapper {
        left: auto;
        right: 0;
    }
}

@media only screen and (max-width: 1230px) {
    .aboutUs .aboutUsTxt {
        text-align: center;
        width: 90%;
    }

    .aboutUs .aboutUsTxt p {
        border-left: none;
        padding-left: 10px;
    }

    .aboutUs .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutUs .container .shashDivWrapper {
        position: static;
        display: inline-block;
        left: 550px;
        top: 130px;
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 760px) {
    .aboutUs .container {
        text-align: center;
    }

    .aboutUs .container .shashDivWrapper {
        position: static;
        display: inline-block;
        transform: scale(0.5);
    }
}

@media only screen and (min-width: 1230px) {
    .hidden-large {
        display: none;
    }
}

@media only screen and (max-width: 1230px) {
    .autopark .carDescModel {
        background-color: #333;
        padding: 30px 0;
    }

    .autopark .carDescModel h2 {
        margin: 0 0;
    }

    .autopark .carDescModel img {
        float: left;
        margin-right: 10px;
    }

    .hidden-mobile {
        display: none;
    }

    .aboutUs .container {
        text-align: center;
    }

    .aboutUs .container .padAndBorder {
        border-left: none;
    }



    .autopark .desc {
        position: static;
        width: 90%;
        margin: 0 auto;
    }

    .autopark {
        background-color: #ffd100;
        background-repeat: no-repeat;
        text-align: center;
        margin-right: -60px;
    }

    .shashDivWrapper {
        margin-top: -40px;
    }

    h2 {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1480px) {
    .shashDivWrapper {
        left: auto;
        right: 0;
    }
}

@media only screen and (min-width: 1480px) and (min-width: 1700px) {
    .aboutUs {
        background-image: url("../img/flaresBG.jpg");
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 760px) {
    .aboutUs {
        height: 800px !important;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h6 {
        font-size: 50px;
    }

    p {
        font-size: 15px !important;
    }

    #jumboFirstText {
        padding: 0 30px;
    }
    #pageContent {
        padding: 30px 20px;
    }

    .header img {
        height: 70px !important;
        width: auto;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    .autopark {
        height: 430px;
    }

    .carAndDesc {
        transform: scale(0.5);
        margin-right: -250px;
    }

    .i40Photo {
        top: -60px !important;
    }

    .smaller {
        background-color: rgba(0, 0, 0, 0.4);
    }



    .smaller .hamBorder {
        border: none;
        padding: 6px 0 0 0;
        z-index: 999999999;
        opacity: 0.999999;
    }
}
.linksIndexWrapper{
        display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.addSmoothSafFire{
    transition: 1s !important;
    transition-delay: 0.3s !important;
}